.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 110px;
}
.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
    font-size: 20px;
}
.nav-connect {
    padding: 20px 40px;
    cursor: pointer;
    font-size: 20px;
    background: linear-gradient(267deg, #8F87F1 30.0% ,#FED2E2 100.0%);
    border-radius: 30px;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);

}